<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Prompt:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="styles.css">
    <title>Quotes Chemaa</title>
</head>
<body>
    <div class="main-container">
    <h1>WELCOME TO <span class="header--color">Quotes Chemaa</span></h1>

    <div class="grid-container">
        <div class="wrap-form">
            <form action="/quotes" method="POST">
                <input class="input-text--color" type="text" placeholder="Name" name="name">
                <input class="input-text--color" type="text" placeholder="Quote" name="quote">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="wrap-quotes">
            <h2 class="quote-header">Quotes By:</h2>
            <div class="quote-container">
                <ul class="quotes">
                    <% for(var i = 0; i < quotes.length; i++) {%>
                        <li class="quotes">
                            <span class="name"><%= quotes[i].name %></span>:
                            <span><%= quotes[i].quote %></span>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid-container--two">
        <div class="wrap-replace">
            <h2>Darth Vader invades!</h2>
            <p>
                Replace the first Yoda quote with a quote written by Darth Vader.
            </p>
            <button id="update-button" class="button"> Replace Yoda's quote</button>
        </div>
        <div class="wrap-remove">
            <div>
                <h2>Remove Darth Vader!</h2>
                <p>
                  Delete one Darth Vader quote. Does nothing if there are no more Darth
                  Vader quotes.
                </p>
                <button id="delete-button" class="button">Delete Darth Vader's quote</button>
            </div>
              <div id="message"></div>
        
        </div>
    </div>
    </div>
    <div class="grid-container--twoo"></div>
      <script src="/main.js"></script>
</body>
</html>