* {
    box-sizing: border-box;
    font-family: var(--ff-pramary);
}

:root {
    --clr-primary-900: ;

    --ff-pramary: 'Lato', sans-serif;
    --ff-accent: 'Prompt', sans-serif;
}

body {
   margin: 0;
}

